<!DOCTYPE html>
<html>
    <head>
        <title>hackathon</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <header id="main-header">
            <div class="container">
                <h1>Hackathon</h1>
                <h2>Control room</h2>
            </div>
        </header>

    