<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
            <div class="container">
                <h1>Interfaces </h1>
                <table style="width:100%">
                <%for(var i=0;i<results.length;i++)
                  { {%>
                    <tr>
                        <th><%=results[i]%></th>
                        <th><%=results[i+1]%></th>
                        <% }
                        i++
                        { %>
                    </tr>
                <% }} %>
                </table>
                 
        <script>
            function confirmDelete(){
                return confirm("Are you sure ?");
            }
        </script>     
    </body>
</html>