<% include partials/header.ejs %>
<nav id="navbar">
    <div class="container">
    <ul>
        <h1><%=results%></h1>
        <form action="/user_create" method="post">
        <li><a href="#">Computer 1</a>
        <ul>
            <label>
            <li><a href="#">Ip address</a></li>
            <li><a href="#">mac address</a></li>
            <li><a href="#">shut</a></li>
            <li><a href="#">no shut</a></li>
        </label>
        </ul>
        </li>
        <li><a href="#">Computer 2</a>
            <ul>
                    <li><a href="#">Ip address</a></li>
                    <li><a href="#">mac address</a></li>
                    <li><a href="#">shut</a></li>
                    <li><a href="#">no shut</a></li>
                </ul>
        </li>
        <li><a href="#">Computer 3</a>
            <ul>
                    <li><a href="#">Ip address</a></li>
                    <li><a href="#">mac address</a></li>
                    <li><a href="#">shut</a></li>
                    <li><a href="#">no shut</a></li>
                </ul>
        </li>
        <li><a href="#">Computer 4</a>
            <ul>
                    <li><a href="#">Ip address</a></li>
                    <li><a href="#">mac address</a></li>
                    <li><a href="#">shut</a></li>
                    <li><a href="#">no shut</a></li>
                </ul>
        </li>
        <li><a href="detail.html">Computer 5</a>
            <ul>
                    <li><a href="#">Ip address</a></li>
                    <li><a href="#">mac address</a></li>
                    <li><a href="#">shut</a></li>
                    <li><a href="#">no shut</a></li>
                </ul>
        </li>
    </form>
    </ul>
    </div>
</nav>

<% include partials/footer.ejs %>
