
<!DOCTYPE html>
<html>
    <head>
        <title>ASPIRANT</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
	
        <header id="main-header">
            <div class="container">
                <h1>ASPIRANT</h1>
                <h2>Network controll</h2>
            </div>
        </header>
        <nav id="navbar">
            <div class="container">
            <ul>
		        <li><a href="#">Home</a></li>
                <li><a href="#">Lab</a>
                <ul>
                    <li>
                            <form action="/lab" method="get">
                                <input type="submit" placeholder="Lab1">Lab 1
                            </form>
                    </li>
                            </ul>
                </li>
	
            </ul>
            </div>
        </nav>
    </body>
</html>
